<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="rhino.esb"
		         type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus" />
	</configSections>
	<rhino.esb>
		<bus threadCount="1"
		     numberOfRetries="5"
         logEndpoint="msmq://localhost/audit.queue"
		     endpoint="msmq://localhost/rhino_subscriber" />
		<messages>
			<add name="Messages"
			     endpoint="msmq://localhost/rhino_publisher.balancer" />
		</messages>
	</rhino.esb>
</configuration>